.pokeinfo__img {
    width: 70%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;

}
.pokeinfo__stats {
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.pokeinfo__stats-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.pokeinfo__stats-item span:nth-child(2) {
    justify-self: center;
}
.outbar {
    overflow: hidden;
    grid-column: span 2;
    border: 1px solid;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    margin-top: 3px;
}
.inbar {
    background: linear-gradient(to right, red, orange);
    width: 50%;
    height: 100%;
}